<div class="box">
    <p>Lower sin pipe <span class="negrita">{{lowerCase}}</span></p>
    <p>Lower con pipe <span class="negrita">{{lowerCase | lowercase}}</span></p>
</div>
<div class="box">
    <p>Upper sin pipe <span class="negrita">{{upperCase}}</span></p>
    <p>Upper con pipe <span class="negrita">{{upperCase | uppercase}}</span></p>
</div>
<div class="box">
    <p>Date sin pipe <span class="negrita">{{date}}</span></p>
    <p>Date con pipe <span class="negrita">{{date | date:'dd/MM/yyyy'}}</span></p>
</div>
<div class="box">
    <p>Percentage sin pipe <span class="negrita">{{percentage}}</span></p>
    <p>Percentage con pipe <span class="negrita">{{percentage | percent}}</span></p>
</div>
<div class="box">
    <p>Currency sin pipe <span class="negrita">{{currency}}</span></p>
    <p>Currency con pipe <span class="negrita">{{currency | currency}}</span></p>
</div>
<div class="box">
    <p>Decimal sin pipe <span class="negrita">{{decimal}}</span></p>
    <p>Decimal con pipe <span class="negrita">{{decimal | number}}</span></p>
</div>
<div class="box">
    <p>Limit sin pipe <span class="negrita">{{limitTo}}</span></p>
    <p>Limit con pipe <span class="negrita">{{limitTo | slice:0:20}}</span></p>
</div>
<div class="box">
    <p>Json sin pipe <span class="negrita">{{json}}</span></p>
    <p>Json con pipe <span class="negrita">{{json | json}}</span></p>
</div>
<div class="box">
    <p>AsyncData sin pipe <span class="negrita">{{asyncData}}</span></p>
    <p>AsyncData con pipe <span class="negrita">{{asyncData | async | date:'dd/MM/yyyy'}}</span></p>   
</div>